<h3>Ajouter une salle</h3>

<form class="form" novalidate [formGroup]="formRoom" (ngSubmit)="onSubmit(price)">

    <mat-form-field>
        <input matInput type="text" placeholder="Nom" formControlName="name">
        <mat-error>Champ obligatoire</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Prix" formControlName="price">
        <mat-error *ngIf="formRoom.get('price').errors?.required">Champ obligatoire</mat-error>
        <mat-error *ngIf="formRoom.get('price').errors?.pattern">Erreur de saisie</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" placeholder="Nbr de place" formControlName="seatCount">
        <mat-error *ngIf="formRoom.get('seatCount').errors?.required">Champ obligatoire</mat-error>
        <mat-error *ngIf="formRoom.get('seatCount').errors?.pattern">Erreur de saisie</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Image" formControlName="image">
            <mat-option *ngFor="let item of pictures" [value]="item.id">{{item.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div>
        <button type="submit" mat-button>Enregistrer</button>
    </div>
</form>