<mat-toolbar color="primary" class="flex-container">
  <div>
    <!--<span [textContent]="title"></span>-->
    <span>{{title}}</span>
    <a routerLink="home" mat-button>
      <mat-icon class="mat-18">home</mat-icon>
      Accueil
    </a>
    <a routerLink="/rooms" mat-button>
      <mat-icon class="mat-18">room</mat-icon>
      Salles
    </a>
    <a [routerLink]="['/rooms/create']" mat-button>
      <mat-icon class="mat-18">add</mat-icon>
      Ajouter
    </a>
  </div>
  <div>
    <ng-container *ngIf="user == null;else log">
      <a [routerLink]="['/auth/login']" mat-button>
        <mat-icon class="mat-18">lock_open</mat-icon>
        Login
      </a>
      <a href="" mat-button>
        <mat-icon class="mat-18">create</mat-icon>
        S'inscrire
      </a>
    </ng-container>
    <ng-template #log>
      Bonjour {{user.name}}
      <button mat-button (click)="logout()">
        <mat-icon class="mat-18">lock</mat-icon>
        Déconnexion
      </button>
    </ng-template>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

<footer>
  <app-room-top-five></app-room-top-five>
</footer>