/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.form{
    display: flex;
    flex-direction: column;
}

.form > *{
    width: 50%;
}
table{
    width: 100%;
}